
<%  @friends.empty? ? friend_heading = "My Friends -- No connections" : friend_heading = "My friends" %>

<h1><%= friend_heading %></h1>

<div class="search-area">
    <h3>Search Friends</h3>
    <%= form_tag search_friend_path, remote: true, method: :get do %>
        <div class="form-group row">
            <div class="col-sm-9 no-right-padding">
                <%= text_field_tag :friend, params[:friend], placeholder: "name or email", autofocus: true, class: "form-control form-control-lg" %>
            </div>
            <div class="col-sm-3 no-left-padding">
                <%= button_tag type: :submit, class: "btn btn-success" do %>
                    <%= fa_icon 'search 2x' %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<div id="friend_results">
    
</div>

<% unless @friends.empty?%>
<%# here we can have the same path to create/add a friend as to delete one. %>
    <%= render 'friends/list' %>
<% end %>